body {
    text-align: center;
}

#gallery1 {
    background-color: #D50000;
}

#avengers {
    width: 800px;
}

#captain {
    height: 300px;
    width: 300px;
}

#hawkeye {
    height: 300px;
    width: 300px;
}

#hulk {
    height: 300px;
    width: 300px;
}

#iron {
    height: 300px;
    width: 300px;
}

#scarlet {
    height: 300px;
    width: 300px;
}

#spider {
    width: 300px;
    height: 300px;
}

#thor {
    width: 300px;
    height: 300px;
}

#widow {
    height: 300px;
    width: 300px;
}

#panther {
    width: 300px;
    height: 300px;
}

#falcon {
    width: 300px;
    height: 300px;
}

#strange {
    height: 300px;
    width: 300px;
}

#ant {
    width: 300px;
    height: 300px;
}

#machine {
    width: 300px;
    height: 300px;
}
